body {
    background-image: url('Project-img/arrangement-cinema-objects-close-up.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

h1 {
    font-size: 20px;
    font-weight: 400;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    text-align: left;
    font-size: 20px;
    text-shadow: 2px 2px 5px red;
}


p {
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


main {
    background-color: white;
    margin: 0 5rem;
    padding: 1rem 2rem;

}


header {
    margin-bottom: 1rem;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 40%;
}




a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: orange;
    color: white;
    font-weight: 800;

}


a:hover {
    color: purple;
}